body{
  font-family:Arial;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#f8fafc;
}

.wrapper{
  position:relative;
}

#tip{
  position:absolute;
  top:-35px;
  left:50%;
  transform:translateX(-50%);
  background:#111;
  color:white;
  padding:6px 10px;
  border-radius:4px;
  font-size:12px;
  display:none;
}
